<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2>About section</h2>
                <p class="lead mb-5">
                    Hi, my name is Volodymyr Semkovych, a dedicated front-end developer with a strong foundation in
                    HTML, CSS, and JavaScript. I specialize in creating engaging and user-friendly websites, optimizing
                    performance, enhancing SEO, and ensuring seamless integration across devices using tools like
                    Bootstrap and SCSS. Recently graduated with a CS Masters degree, I bring both academic knowledge and
                    practical experience to the table. Currently, I'm sharpening my skills in a .NET Full-Stack
                    Developer Bridge program at Humber College. I'm excited about the opportunity to bring my expertise
                    and passion for development to your team and help drive your projects to success.
                </p>
                <a class="btn btn-dark btn-xl" href="#services">Look at my skills</a>
            </div>
        </div>
    </div>
</section>