<!-- Services Section -->
<section class="content-section bg-primary text-white text-center pt-5 " id="services">
    <div class="container px-4 px-lg-5">
      <div class="content-section-heading">
        <!-- <h3 class="text-secondary mb-0">Services</h3> -->
        <h2 class="mb-5">Services</h2>
      </div>
      <div class="row gx-4 gx-lg-5">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-brush"></i></span>
          <h4><strong>Design</strong></h4>
          <p class="text-faded mb-0">Crafting visually appealing and user-friendly interfaces that enhance user experience and brand identity.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-chart-bar"></i></span>
          <h4><strong>SEO</strong></h4>
          <p class="text-faded mb-0">Optimizing website content and structure to improve visibility and ranking on search engines, driving organic traffic.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-code"></i></span>
          <h4><strong>Development</strong></h4>
          <p class="text-faded mb-0">Building and maintaining dynamic websites using modern technologies to ensure functionality, performance, and security.</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3"><i class="fa-solid fa-question"></i></span>
          <h4><strong>Tech support</strong></h4>
          <p class="text-faded mb-0">Providing assistance and solutions for technical issues, ensuring smooth operation and user satisfaction.</p>
        </div>
        <div class=" content-section-heading container mt-5">
            <h2 class="text-center mb-5">Skills</h2>
            <div class="progress mb-3">
                <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">HTML5 </div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar bg-warning  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">CSS3/SCSS</div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">JS</div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar bg-warning  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">JQuery</div>
            </div>
        </div>
      </div>
    </div>
  </section>